/* BEGIN Gotham
-----------------------------------*/
@font-face {
    font-family: 'gothamblack';
    src: url('../fonts/gotham/Gotham-Black.otf');
}
@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gotham/Gotham-Book.otf');
}
@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: 'futurabold';
    src: url("../fonts/futura/Futura_Bold_BT.eot");
    src: url('../fonts/futura/Futura_Bold_BT.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/Futura Bold BT.ttf');
}
@font-face {
    font-family: 'gothamx';
    src: url('../fonts/gotham/GothamXNarrow-Book.otf');
}
/*@font-face {
    font-family: 'futuram';
    src: url('../fonts/futura/FuturaMedium.ttf') format('truetype');
}*/
/*@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/FutuMd__.ttf');
}*/
@font-face {font-family: 'futura';src: url('../fonts/futura/27B799_0_0.eot');src: url('../fonts/futura/27B799_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/futura/27B799_0_0.woff') format('woff'),url('../fonts/futura/27B799_0_0.ttf') format('truetype');}
@font-face {
    font-family: 'futurab';
    src: url("../fonts/futura/Futura_Bold_BT.eot");
    src: url('../fonts/futura/Futura_Bold_BT.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/Futura Bold BT.ttf');
}
@font-face {
    font-family: 'futuram';
    src: url('../fonts/futura/27D0C9_1_0.eot');
    src: url('../fonts/futura/27D0C9_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/futura/27D0C9_1_0.woff') format('woff'),url('../fonts/futura/27D0C9_1_0.ttf') format('truetype');}
/* END Gotham
-----------------------------------*/